@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

main {
  font-family: 'Roboto Mono', monospace;
}

.box {
  height: 100vh;
  background-color: #0d1b2a;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #133355;
  line-height: 1;
  display: grid;
  overflow: hidden;
  justify-items: center;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 100%);
}
